@model Categories
@{
    ViewData["Title"] = "New Categorie";
}

@{
    Categories categories = Model;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<br />
<br />
<br />
<div class="center-div">
    <div class="card text-dark bg-light mb-3 register ">
        <div class="card-header"><h1> Create Categorie</h1></div>
        <div class="card-body">

            <form asp-action="Create">
                <select asp-for="OperationTypeId" class="form-control" required>
                    <option>Select a operation type</option>
                    @foreach (var operationType in categories.OperationTypesList)
                    {
                        <option value="@operationType.Id">@operationType.Description</option>
                    }
                </select>
                <span asp-validation-for="OperationTypeId" class="text-danger"> </span>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" autofocus asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"> </span>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a class="btn btn-secondary" asp-controller="" asp-action="Index">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}