@model IEnumerable<Categories>

@{
    ViewData["Title"] = "Categories";
}


<h1>Categories List</h1>

<a asp-action="Create" class="btn">
     <img src="../../img/add.png" width="50" height="50"/>
</a>

<div class="containerTables">
<table class="table table-striped list-table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var categories in Model)
        {
            <tr>
                <td>
                    <input type="hidden" value="@categories.Id" class="ids" />
                    <a class="btn " asp-action="Modify" asp-route-id="@categories.Id">
                     <img src="../../img/edit.png" width="30" height="25" /> </a> 
                    
                </td>

                <td>
                    @categories.Name
                </td>

            </tr>
        }
    </tbody>
</table>
</div>
