@model Accounts

@{
    ViewData["Title"] = "Modify Accounts";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<br />
<br />
<div class="center-div">
    <div class="card text-dark bg-light mb-3 cardWidth ">
        <div class="card-header" ><h1>Modify Accounts: @Model.Name</h1></div>
        <div class="card-body">

            <form asp-action="Modify">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AccountTypeId" />
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input type="text" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-success">Modify</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>
            </div>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
