@model AccountTypes
@{
    ViewData["Title"] = "Account types";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<br />
<br />
<br />
<div class="center-div">
    <div class="card text-dark bg-light mb-3 cardWidth ">
        <div class="card-header"><h1> New Account Type</h1></div>
        <div class="card-body">

            <form asp-action="Create">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"> </span>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }
