@model OperationTypes


@{
    ViewData["Title"] = "Modify Operation Types";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<br />
<br />
<div class="modify">
    <div class="card text-dark bg-light mb-3 modifyOp ">
        <div class="card-header" style="text-align: center; color: midnightblue; "><h1>Modify account type: @Model.Description </h1></div>
        <div class="card-body">

            <form asp-action="Modify">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input type="text" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">Modify</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>

        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
