@using EconomicManagementAPP.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"] - EconomicManagementAPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-appd-version="true" />
    <link rel="stylesheet" href="~/css/AccorddionStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EconomicManagementAPP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Economic Management</a>
                <span class="spacer"></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (UsersController.valorSesion is not null)
                        {
                           
                            <li class="nav-item">
                                @*apuntamos al controller asp-controller="AccountTypes" y al view asp-action="Index"*@
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                            </li>
                            <span class="headerSpacer"></span>
                          
                            <li class="nav-item">
                                <a  asp-area="" title="Modify" asp-controller="Users" asp-action="Modify">
                                    <img src="../../img/edit-profile.png" width="40" height="35" alt="Profile"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                @*apuntamos al controller asp-controller="AccountTypes" y al view asp-action="Index"*@
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="LogOut">Log Out</a>
                            </li>
                        }
                        else
                        {
                            <span class="headerSpacer"></span>
                            <li class="nav-item">
                                @*apuntamos al controller asp-controller="AccountTypes" y al view asp-action="Index"*@
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Create">Sign up</a>
                            </li>
                            <li class="nav-item">
                                @*apuntamos al controller asp-controller="AccountTypes" y al view asp-action="Index"*@
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">
                                    <img src="https://cdn-icons.flaticon.com/png/512/2354/premium/2354573.png?token=exp=1648925299~hmac=d796b06217861ad38caa1479a54b0f36" width="25" height="25">
                                    Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-dark">
        <div class="container ">
            &copy; 2022 - Developed by Jenifer Padilla
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
